{% extends "auctions/layout.html" %}

{% block title %}{{ group }}{% endblock title %}


{% block body %}
    <h2>{{ group }}</h2>

    <!-- Product grid -->
    <div class="w3-row mt-4">

        {% for listing in listings %}

        <div class="w3-col l3 s6">
            <div class="w3-container">
                <div class="w3-display-container">
                    <a href="{% url 'listing' listing.id %}"><img src="{{ listing.image.url }}" style="width:100%; height: 200px; border-radius: 10px;"></a>
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>
                <p><b>Title: </b>{{ listing.title }}
                <br><b>Description:</b><br>{{ listing.description }}
                <br><b>Current Bid:</b> ${{ listing.bid }}
                </p>
            </div>
        </div>

        {% empty %}

        <p><b>Nothing in this category yet</b></p>

        {% endfor %}

    </div>


{% endblock %}





