{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Auctions | {% block title %}{% endblock %}</title>
        <link href="{% static 'auctions/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'auctions/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'auctions/dashiel.jpg' %}" rel="icon">
    </head>

    <body>
        <div class="row">

            <!-- Sidebar/menu-->
            <div class="col-sm-2 mr-5">
                <nav class="w3-sidebar w3-bar-block w3-collapse w3-top" style="z-index:3;width:250px;background-color:lightgrey;">
                  <div class="w3-container w3-display-container w3-padding-16">
                    <a href="/"><img src="{% static 'auctions/dashiel.jpg' %}" style="width: 40%; border-radius: 20px;" class="offset-3"></a>
                  </div>
                  <h3 style="color:black;" class="ml-2">Categories</h3>
                  <div class="w3-padding-16 w3-large w3-text-grey" style="font-weight:bold">
                    <a href="{% url 'category' 'Groceries' %}" class="w3-bar-item w3-button">Groceries</a>
                    <a href="{% url 'category' 'Health & Beauty' %}" class="w3-bar-item w3-button">Health & Beauty</a>
                    <a href="{% url 'category' 'Home & Office' %}" class="w3-bar-item w3-button">Home & Office</a>
                    <a href="{% url 'category' 'Phone and Tablets' %}" class="w3-bar-item w3-button">Phone and Tablets</a>
                    <a href="{% url 'category' 'Computing' %}" class="w3-bar-item w3-button">Computing</a>
                    <a href="{% url 'category' 'Electronics' %}" class="w3-bar-item w3-button">Electronics</a>
                    <a href="{% url 'category' 'Fashion' %}" class="w3-bar-item w3-button">Fashion</a>
                    <a href="{% url 'category' 'Baby Products' %}" class="w3-bar-item w3-button">Baby Products</a>
                    <a href="{% url 'category' 'Gaming' %}" class="w3-bar-item w3-button">Gaming</a>
                    <a href="{% url 'category' 'Sporting Goods' %}" class="w3-bar-item w3-button">Sporting Goods</a>
                    <a href="{% url 'category' 'Automobile' %}" class="w3-bar-item w3-button">Automobile</a>
                    <a href="{% url 'category' 'Other' %}" class="w3-bar-item w3-button">Other</a>
                  </div>
                  <a href="#footer" class="w3-bar-item w3-button w3-padding" style="color: blue">Contact</a>
                  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" style="color: blue" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a>
                  <a href="#subscribe"  class="w3-bar-item w3-button w3-padding" style="color: blue">Subscribe</a>
                </nav>
            </div>

            <!--Navbar on top-->
            <div class="col-sm-9">
                <h1>Auctions</h1>
                <div>
                    {% if user.is_authenticated %}
                        Signed in as <strong>{{ user }}</strong>.
                    {% else %}
                        Not signed in.
                    {% endif %}
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'watchlist' request.user.username %}">Watchlist <span class="badge badge-light">{% if badge != 0 %}{{ badge }}{% endif %}</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
                <hr style="background-color: white;">


                <!-- !MAIN PAGE CONTENT! -->
                <div class="row">
                    <div class="col">

                        <div class="w3-main">

                        {% block body %}
                        {% endblock %}


                        <!-- Subscribe section -->
                        <div class="w3-container w3-black w3-padding-32" id="subscribe">
                            <h3>Subscribe</h3>
                            <p>To get special offers and VIP treatment:</p>
                            <p><input class="w3-input w3-border" type="email" placeholder="Enter e-mail" style="width:100%"></p>
                            <button type="button" class="w3-button w3-red w3-margin-bottom offset-11">Subscribe</button>
                        </div>

                        <!-- Footer -->
                        <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
                            <div class="w3-row-padding">
                              <div class="w3-col s4">
                                <h4>Contact</h4>
                                <p>Questions? Go ahead.</p>
                                <form action="/action_page.php" target="_blank">
                                  <p><input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required></p>
                                  <p><input class="w3-input w3-border" type="email" placeholder="Email" name="Email" required></p>
                                  <p><input class="w3-input w3-border" type="text" placeholder="Subject" name="Subject" required></p>
                                  <p><input class="w3-input w3-border" type="text" placeholder="Message" name="Message" required></p>
                                  <button type="submit" class="w3-button w3-block w3-black">Send</button>
                                </form>
                              </div>

                              <div class="w3-col s4">
                                <h4>About</h4>
                                <p><a href="#">About us</a></p>
                                <p><a href="#">We're hiring</a></p>
                                <p><a href="#">Support</a></p>
                                <p><a href="#">Find store</a></p>
                                <p><a href="#">Shipment</a></p>
                                <p><a href="#">Payment</a></p>
                                <p><a href="#">Gift card</a></p>
                                <p><a href="#">Return</a></p>
                                <p><a href="#">Help</a></p>
                              </div>

                              <div class="w3-col s4 w3-justify">
                                <h4>Store</h4>
                                <p><i class="fa fa-fw fa-map-marker"></i> Company Name</p>
                                <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>
                                <p><i class="fa fa-fw fa-envelope"></i> ex@mail.com</p>
                                <h4>We accept</h4>
                                <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
                                <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
                                <br>
                                <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
                                <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
                                <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
                                <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
                                <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
                                <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
                              </div>
                            </div>
                          </footer>

                          <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.twitter.com/yensodev" target="blank" class="w3-hover-opacity">Yensodev Software Solution&reg;</a></div>

                          <!-- End of page content -->
                        </div>

                        <!-- Newsletter Modal -->
                        <div id="newsletter" class="w3-modal">
                          <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
                            <div class="w3-container w3-white w3-center">
                              <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
                              <h2 class="w3-wide" style="color:black">NEWSLETTER</h2>
                              <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
                              <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
                              <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
                            </div>
                          </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>









